<style>
    .header {
        /* position: relative; */
        background-color: #00425B;
        color: white;
        height: 70px;
        padding: 15px 0;
    }

    .header .nav-link {
        color: white;
    }
</style>

<!-- Header starts -->
<nav class="navbar navbar-expand-lg header">
    <a class="navbar-brand" href="{% url 'home:index' %}">QuizWebAPP</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav pr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'quizes:add_question' %}">Create Quiz</a>
            </li>
        </ul>
        <ul class="navbar-nav pl-auto">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'quizes:index' %}">My Quizes</a></li>
            <li class="nav-item mr-sm-2"><span class="navbar-text">Hi! {{user.get_username }}</span></li>
            <a class="nav-item" href="{% url 'accounts:logout'%}?next={{request.path}}">
                <button type="button" class="btn btn-outline-danger">Logout</button>
            </a>
            {% else %}
            <a class="nav-item" href="{% url 'accounts:login'%}?next={{request.path}}">
                <button type="button" class="btn btn-outline-success">Login</button>
            </a>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- Header ends -->